[Unit]
Description=Timer semanal do backup incremental de /data

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=1h
Unit=backup-data.service

[Install]
WantedBy=timers.target

